.dropdown-menu li:hover{
  background-color:rgb(216, 211, 211);
  cursor: pointer;
}
.pdfPage{
  display: none;
}
.namewise, table {
  width: 500px;
  margin:3rem;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
